/*start RESET
--------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select, iframe, button {border: none;}
h1, h2, h3{margin: 0; padding: 0;}
ol, ul{list-style: none;}
a {text-decoration: none; color: inherit;}
img{max-width: 100%; border: none;}
/*end RESET
--------------------*/

:root {
    --background: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

.background{
  position: relative;
  background-color: var(--background);
  background-image: url('../assets/blur-mobile.png');
  background-repeat:repeat-x;
  background-position-x: center;
  background-position-y: bottom;
  width: 100%;
  height: 100%;
}
header{
  display: inline-block;
  background-color: var(--background);
  width: 100%;
  height: 80px;
  border-bottom: solid 1px var(--border);
}
.logo-desktop{
  display: none;
}
.logo-mobile{
  display: inline-block;
  padding: 25px 0 25px 20px;
}
#menu{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--background);
  width: 100%;
  height: 106vh;
}
#menu.active{
  display: block;
  position: absolute;
  z-index: 1;
  background-color: var(--background);
  width: 100%;
  height: 106vh;
}
#btn{
  display: block;
  float: right;
  background: url('../assets/menu-buguer-open.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-top: 35px;
  margin-right: 20px;
  cursor: pointer;
}
#btn.close{
  display: block;
  float: right;
  background: url('../assets/menu-buguer-close.svg');
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  padding-top: 20px;
  margin-top: 35px;
  margin-right: 20px;
  cursor: pointer;
}
.text{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Manrope', sans-serif;
  color: var(--text-color);
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  width: 70%;
  padding: 12vh 0;
}
.main-content{
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.button-desktop{
  display: none;
}
.button{
  display: flex;
  width: 160px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color-menu-mobile);
  border: solid 2px;
  border-radius: 8px;
  border-color: var(--button);
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}
.button:hover{
  border: solid 3px;
  border-color: var(--button);
}

.arrow-mobile{
  padding-left: 1vw;
}
.arrow-desktop{
  display: none;
}
.title1{
  font-family: 'Manrope', sans-serif;
  color: var(--text-color);
  font-weight: 700;
  font-size: 12vw;
  text-align: center;
  padding-top: 12vh;
}
.title2{
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 12vw;
  text-shadow:
    -1px -1px 0 var(--button),
    1px -1px 0 var(--button),
    -1px 1px 0 var(--button),
    1px 1px 0 var(--button);
  text-align: center;
  padding-bottom: 8vh;
}
.image{
  display: flex;
  position: relative;
  justify-content: center;
}
.item{
  display: block;
  color: var(--border-menu-mobile);
  border-bottom: solid 1px var(--border);
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 5vw;
  padding: 25px 0 25px 35px;
}
.item:hover{
  display: block;
  color: var(--text-color);
  border-bottom: solid 1px var(--border);
  border-left: solid 5px var(--button);
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 5vw;
  padding: 25px 0 25px 30px;
}

/* BREAKPOINT DESKTOP */

@media (min-width: 1024px){
  .text{
    display: none;
  }
  header{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    border-bottom: none;
    background-color: transparent;
  }
  .logo-mobile{
    display: none;
  }
  .logo-desktop{
    display: flex;
  }
  header > #nav{
    display: flex;
    justify-content: center;
  }
  #menu{
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 20px;
    background-color: transparent;
  }
  .menu-list{
    display: inline-block;
  }
  .item{
    display: inline-block;
    color: var(--border-menu-mobile);
    border-bottom: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
  }
  .item:hover{
    display: inline-block;
    color: var(--text-color);
    border-bottom: none;
    border-left: none;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
  }
  #btn{
    display: none;
  }
  .button{
    display: none;
  }
  .button-desktop{
    display: flex;
    width: 210px;
    height: 40px;
    color: var(--text-color-menu-mobile);
    border: solid 2px;
    border-radius: 8px;
    border-color: var(--button);
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
  }
  .button-desktop:hover{
    border: solid 3px;
    border-color: var(--button);
  }
  .background{
    position: relative;
    background-color: var(--background);
    background-image: url('../assets/blur-1.png'), url('../assets/blur-2.png');
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    width: 100%;
    height: 100%;
  }
  .title1{
    font-size: 120px;
  }
  .title2{
    font-size: 120px;
  }
  .image{
    display: flex;
    justify-content: center;
  }
  .image > img{
    width: 1024px;
  }
}